/*====================================================================
Fonts
====================================================================*/    
@font-face 
    font-family: "OpenSans"
    src: url("fonts/OpenSans-Regular.ttf")

@font-face 
    font-family: "SourceSansPro"
    src: url("fonts/SourceSansPro-Regular.ttf")

/*====================================================================
RESET
====================================================================*/
@import '../stylereset/reset.styl'

/*====================================================================
Global Variables
====================================================================*/

/*====================================================================
Global Styles
====================================================================*/
body
    font-family: 'SourceSansPro', sans-serif;

p
    font-family: 'OpenSans', sans-serif;

/*====================================================================
Including other components
====================================================================*/
@import '../allmodules/allstyles.styl'
